<%= render @recipe %>
<div><%= render 'food_table', :recipe => @recipe %></div>
<div>
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Delete this recipe", @recipe, method: :delete %>
</div>
